<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
		Splurty was built by <a target="_blank" href="https://dl.dropboxusercontent.com/u/25406425/Firehose%20Project/me.html">Bijoy</a>. A young padawan in developing wanting to become a jedi master to protect everyone in this universe from ugly coding.
	</p>
	<br />
	<p>
		Single handedly he is pursuing this goal while being a Practice Manager for a surgeon at the same time.
	</p>
	<p>
		If you want to join him in his undertaking - meet him <a target="_blank" href="http://www.thefirehoseproject.com/"> in a far far away galaxy</a>.
	</p>
	<br />
	<br />

	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'Bijoy.jpg', :class => 'img-responsive' %>
	</div>
	<br />
	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Bijoy Varghese</h2>
		<br />
		<p>
			Bijoy Varghese is currently a Practice Manager for a Neurosurgeon and manages the financial and administrative side of duties. He used to work for <a target="_blank" href="https://www.nm.org/">Northwestern Hospital</a> before moving to Houston to follow his <a target="_blank" href="http://www.annandbijoy.com/">heart</a>. His other passion of <a target="_blank" href="http://www.bijoyvarghese.com/">photography</a> also stays alive from time to time.
		</p>
	</div>
</div>

<br class="clear" />
<br />
<br />
<br/>